In [82]:
import pandas as pd
pd.options.mode.chained_assignment = None
from word2number import w2n
from sklearn.linear_model import LinearRegression

df = pd.read_csv("data/hiring.csv")
print(df)
df_nnans = df.dropna()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [83]:
df_nnans.experience = df_nnans[["experience"]].applymap(lambda x: w2n.word_to_num(x))

X = df_nnans.drop(["experience"], axis="columns")
y = df_nnans.experience

model_exp = LinearRegression()
model_exp.fit(X, y)

X_pred = df.loc[df["experience"].isna()].drop(["experience"], axis="columns")
print(model_exp.predict(X_pred))
# As the predicted values are negative, we fill NaN in experience field, with zero

df.fillna({"experience": "zero"}, inplace=True)
df_nnans = df.dropna()
print(df_nnans)

[-1.4872918  -1.46055111]
  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
7     eleven                    7.0                           8      80000

In [84]:
df_nnans.experience = df_nnans[["experience"]].applymap(lambda x: w2n.word_to_num(x))
df.experience = df[["experience"]].applymap(lambda x: w2n.word_to_num(x))

X = df_nnans.drop(["test_score(out of 10)"], axis="columns")
y = df_nnans["test_score(out of 10)"]

model_test_sc = LinearRegression()
model_test_sc.fit(X, y)

X_pred = df.loc[df["test_score(out of 10)"].isna()].drop(["test_score(out of 10)"], axis="columns")
print(model_test_sc.predict(X_pred))

df.loc[df["test_score(out of 10)"].isna(), "test_score(out of 10)"] = model_test_sc.predict(X_pred)
df

[5.38023349]

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0               8.000000                           9      50000
1           0               8.000000                           6      45000
2           5               6.000000                           7      60000
3           2              10.000000                          10      65000
4           7               9.000000                           6      70000
5           3               7.000000                          10      62000
6          10               5.380233                           7      72000
7          11               7.000000                           8      80000

In [85]:
X = df.drop(["salary($)"], axis="columns")
y = df["salary($)"]

model = LinearRegression()
model.fit(X, y)

X_pred = [[2, 9.0, 6.0], [12, 10.0, 10.0]]
print(model.predict(X_pred))

[53896.38219108 95121.90919384]